@model IEnumerable<TrainHoppersTARpe23.Models.Powerups.PowerupIndexViewModel>

@{
    int rowNumber = 1;
}
<div>
    <div>
        <a asp-action="Create" asp-controller="Powerups" class="btn btn-primary">Create a new powerup</a>
    </div>
</div>

<div class="h1">Your powerups</div>
<form method="post">
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Type</th>
                <th scope="col">Description</th>
                <th scope="col">Admin Actions</th>

            </tr>
        </thead>
        <tbody>
            @if (Model != null)
            {
                foreach (var powerup in Model)
                {
                    <tr>
                        <td>@rowNumber</td>
                        <td>@powerup.PowerUpName</td>
                        <td>@powerup.PowerupType</td>
                        <td>@powerup.PowerUpDescription</td>
                        <td>
                            <a asp-action="Details" asp-controller="Powerups" asp-route-id="@powerup.ID" class="btn btn-info">Details</a>
                            <br />
                            <a asp-action="Update" asp-controller="Powerups" asp-route-id="@powerup.ID" class="btn btn-info">Update</a>
                            <br />
                            <a asp-action="Delete" asp-controller="Powerups" asp-route-id="@powerup.ID" class="btn btn-info">Delete</a>
                        </td>
                    </tr>
                    rowNumber++;
                }
            }
        </tbody>
    </table>
</form>
@*Missing button for player profile*@
@*Missing button for player fight history*@