@model TrainHoppersTARpe23.Models.Abilities.AbilityDeleteViewModel

<h1>@Html.DisplayFor(modle => Model.AbilityName)</h1>
<div>
    <h4>The</h4>
    <hr />
    <dl class="row">
        <div class="form-group row">
            <label asp-for="ID" class="col-sm-2 col-form-label"></label>
            @Html.DisplayFor(model => model.ID)
        </div>
        <div class="form-group row">
            <label asp-for="AbilityName" class="col-sm-2 col-form-label"></label>
            @Html.DisplayFor(model => model.AbilityName)
        </div>
        <div class="form-group row">
            <label asp-for="AbilityDescription" class="col-sm-2 col-form-label"></label>
            @Html.DisplayFor(model => model.AbilityDescription)
        </div>
        <div class="form-group row">
            <label asp-for="AbilityLevel" class="col-sm-2 col-form-label"></label>
            @Html.DisplayFor(model => model.AbilityLevel)
        </div>
        <div>
            @foreach (var image in Model.Image)
            {
                <partial name="_Images" model="image"></partial>
            }
        </div>
        <div class="form-group row">
            <label asp-for="AbilityXP" class="col-sm-2 col-form-label"></label>
            @Html.DisplayFor(model => model.AbilityXP)
        </div>
        <div class="form-group row">
            <label asp-for="AbilityStatus" class="col-sm-2 col-form-label"></label>
            @Html.DisplayFor(model => model.AbilityStatus)
        </div>
        <div class="form-group row">
            <label asp-for="AbilityUseTime" class="col-sm-2 col-form-label"></label>
            @Html.DisplayFor(model => model.AbilityUseTime)
        </div>
    </dl>
    <form asp-action="DeleteConfirm">
        <input type="hidden" asp-for="ID"/>
        <input type="submit" value="DELETE" class="btn btn-danger"/>
        <a asp-action="Index" asp-controller="abilities" class="btn btn-secondary">Index</a>
    </form>

</div>