@model IEnumerable<TrainHoppersTARpe23.Models.Abilities.AbilityIndexViewModel>

@{
    int rowNumber = 1;
}
<div>
    <a asp-action="Add" asp-controller="Abilities" type="submit" class="btn btn-primary">Get a new ability</a>
    <a asp-action="Create" asp-controller="Abilities" class="btn btn-primary">Create a new ability</a>
</div>

<div class="h1">Your abilities</div>
<form method="post">
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Type</th>
                <th scope="col">Level</th>
                <th scope="col">Status</th>
                <th scope="col">Admin Actions</th>

            </tr>
        </thead>
        <tbody>
            @if (Model != null)
            {
                foreach (var ability in Model)
                {
                    <tr>
                        <td>@rowNumber</td>
                        <td>@ability.AbilityName</td>
                        <td>@ability.AbilityType</td>
                        <td>@ability.AbilityLevel</td>
                        <td>@ability.AbilityStatus</td>
                        <td>
                            <a asp-action="Details" asp-controller="Abilities" asp-route-id="@ability.ID" class="btn btn-info">AbilityDetails</a>
                            <br />
                            <a asp-action="Update" asp-controller="Abilities" asp-route-id="@ability.ID" class="btn btn-info">Update</a>
                            <br />
                            <a asp-action="Delete" asp-controller="Abilities" asp-route-id="@ability.ID" class="btn btn-info">Delete</a>
                        </td>
                    </tr>
                    rowNumber++;
                }
            }
        </tbody>
    </table>
</form>
@*Missing button for player profile*@
@*Missing button for player fight history*@